# This is Git's per-user configuration file.
[user]
	name = poem
	email = junqiwang93@gmail.com
# Please adapt and uncomment the following lines:
#	name = poem
#	email = poem@myarch.localdomain
[alias]
	d = diff
	gl = config --global -l
	st = status -s
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset%s%Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
	dv = difftool -t gvimdiff -y
[init]
	defaultBranch = main
