[init]
	defaultBranch = main
[user]
	name = poem
	email = 1322153392@qq.com
[alias]
	ll = log --oneline
	cm = commit -m
	gl = config --global -l
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset%s%Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -s
	rv = remote -v
	dv = difftool -t vimdiff -y
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = vim
[color]
	ui = true
